<a href="https://colab.research.google.com/github/00150/AI_07_JYP_Project_section_02/blob/main/Used_car_modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
# 모델링을 진행할 데이터를 가져옵니다.
# 필요한 라이브러 및 패키지는 그때 그때 가져오도록 합니다.
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/00150/AI_07_JYP_Project_section_02/main/audi_eda').drop('Unnamed: 0', axis = 1)

In [7]:
df.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize', 'size_and_type', 'size', 'type', 'used_year',
       'ampy', 'km/l'],
      dtype='object')

앞서 EDA & Visualization 을 진행한 데이터에는 다음과 같은 컬럼이 존재합니다.

* 각각의 컬럼은 다음과 같습니다. 
  - model : 자동차의 모델명 
  - year : 연식 
  - price : 가격 
  - transmission : 변속기
  - mileage : 자동차 주행거리
  - fuelType : 자동차 연료의 유형
  - tax : 세금(자동차)
  - mpg(Miles per Gallon) : 자동차 연비(Fuel efficiency)
  - engineSize :엔진 크기
  - size_and_type :차량의 사이즈 및 타입
  - size : 차량의 사이즈
  - type : 차량의 유형
  - used_year : 차를 사용한 연도
  - ampy : 연간 평균 주행거리.
  - km/l : 자동차 연비(한국식 표현)

In [8]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,size_and_type,size,type,used_year,ampy,km/l
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,small_hatchback,small,hatchback,6,2622.5,23.8
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,subfull_sedan,subfull,sedan,7,5171.9,27.6
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,small_hatchback,small,hatchback,7,4278.0,23.8
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,mid_sedan,mid,sedan,6,4325.3,28.9
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,4,499.5,21.3

##1. Feature Engineering
> 기존 데이터에서 추가로 이용할 수 있는 부분이 있다면 새로운 피처를 생성합니다.

 -  Good preference badge 추가하기. <br>
 차량을 사용한 이력이 3~5년사이, 주행거리가 30000이하, 자동차 연비(기준:km/l)가 21 이상이라면 뱃지를 달아줍니다.

 - 차량 모델에 상관없이 상태가 좋은 중고차를 구매하려고 하는 사람들이 분명 존재합니다. <br/>
   이들에게 추천해줄 수 있도록 분류하는 모델을 생성하고자 합니다.

In [52]:
# np.select() method를 이용합니다.
import numpy as np
conditionlist = [(df['used_year'] <=5) & (df['mileage'] <=30000) & (df['km/l'] >=21)]
select_data = ['good']

df['good_badge']  = np.select(conditionlist, select_data, default = 'Not Specified')

In [53]:
df['good_badge'].value_counts()

Not Specified    8226
good             1119
Name: good_badge, dtype: int64

In [35]:
ax = df[df['used_year'] <=5]
ax

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,size_and_type,size,type,used_year,ampy,km/l
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,4,499.5,21.3
26,A1,2018,15800,Manual,10793,Petrol,145,56.5,1.4,small_hatchback,small,hatchback,5,2158.6,24.3
27,A4,2018,17200,Automatic,25138,Diesel,145,70.6,2.0,mid_sedan,mid,sedan,5,5027.6,30.4
41,A3,2019,15700,Manual,2029,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,4,507.2,21.3
42,A6,2018,16600,Automatic,22958,Petrol,145,50.4,1.8,subfull_sedan,subfull,sedan,5,4591.6,21.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9336,S4,2018,29995,Automatic,29000,Petrol,150,35.8,3.0,mid_sedan,mid,sedan,5,5800.0,15.4
9339,A6,2018,27995,Semi-Auto,27500,Petrol,150,39.8,2.0,subfull_sedan,subfull,sedan,5,5500.0,17.1
9340,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,3,1339.3,21.3
9341,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,submid_hatchback,submid,hatchback,3,659.3,21.3
9342,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,submid_hatchback,submid,hatchback,3,203.0,21.3

In [36]:
ax.shape

(4730, 15)

In [37]:
ax = ax[ax['mileage'] <=30000]

In [38]:
ax

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,size_and_type,size,type,used_year,ampy,km/l
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,4,499.5,21.3
26,A1,2018,15800,Manual,10793,Petrol,145,56.5,1.4,small_hatchback,small,hatchback,5,2158.6,24.3
27,A4,2018,17200,Automatic,25138,Diesel,145,70.6,2.0,mid_sedan,mid,sedan,5,5027.6,30.4
41,A3,2019,15700,Manual,2029,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,4,507.2,21.3
42,A6,2018,16600,Automatic,22958,Petrol,145,50.4,1.8,subfull_sedan,subfull,sedan,5,4591.6,21.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9336,S4,2018,29995,Automatic,29000,Petrol,150,35.8,3.0,mid_sedan,mid,sedan,5,5800.0,15.4
9339,A6,2018,27995,Semi-Auto,27500,Petrol,150,39.8,2.0,subfull_sedan,subfull,sedan,5,5500.0,17.1
9340,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,3,1339.3,21.3
9341,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,submid_hatchback,submid,hatchback,3,659.3,21.3
9342,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,submid_hatchback,submid,hatchback,3,203.0,21.3

In [39]:
ax = ax[ax['km/l'] >=21]
ax

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,size_and_type,size,type,used_year,ampy,km/l
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,4,499.5,21.3
26,A1,2018,15800,Manual,10793,Petrol,145,56.5,1.4,small_hatchback,small,hatchback,5,2158.6,24.3
27,A4,2018,17200,Automatic,25138,Diesel,145,70.6,2.0,mid_sedan,mid,sedan,5,5027.6,30.4
41,A3,2019,15700,Manual,2029,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,4,507.2,21.3
42,A6,2018,16600,Automatic,22958,Petrol,145,50.4,1.8,subfull_sedan,subfull,sedan,5,4591.6,21.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9305,A3,2018,20394,Manual,10025,Petrol,145,54.3,1.5,submid_hatchback,submid,hatchback,5,2005.0,23.3
9328,A4,2019,30000,Automatic,9900,Diesel,145,49.6,2.0,mid_sedan,mid,sedan,4,2475.0,21.3
9340,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,submid_hatchback,submid,hatchback,3,1339.3,21.3
9341,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,submid_hatchback,submid,hatchback,3,659.3,21.3
9342,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,submid_hatchback,submid,hatchback,3,203.0,21.3